* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #f3f4f6;
  min-height: 100vh;
}

.hero {
  background-color: #e3e2e2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.hero h1 {
  width: 90%;
  max-width: 500px;
  color: #000000;
  text-align: center;
}

.btn {
  height: 70%;
  width: 100px;
  background-color: #bcbaba;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  box-shadow: 0px 0px 5px #000;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
}


.btn:hover {
  background: rgb(75, 75, 75);
  border-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transform: translateY(-2px); 
}

.btn:active {
  transform: translateY(0); 
  background: rgba(255, 255, 255, 0.08);
}

.carrossel {
  width: 80%;
  height: 80vh;
  max-width: 1600px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  
  
}

.apis {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  height: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  
}

#track {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.slide {
  width: 100%;  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; 
}

.fotoPersonagemdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    
}

.fotoPersonagem{
  width: 100%; 
  height: 100%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  
}
.dadosPersonagem{
    width: 100%;
    height: 30%;
    background-color: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nameJob{
    font-size: 1rem ;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.idadeStatus{
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.frase{
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

/*---Tradutor Api---*/
.card-tradutor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #9f9fa0;
    color: #020202;
    font-family: Arial, sans-serif;
}

.caixa-texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.caixa-texto label {
    font-size: 0.9rem;
    color: #000000;
    margin-block: 0.5rem;
    font-weight: 500;
}

#textoOriginal {
    width: 100%;
    height: 90px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    color: #000000;
    resize: vertical;
    font-size: 1rem;
    box-sizing: border-box;
}

.btn-traduzir {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #343465;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-traduzir:hover {
    background: rgb(75, 75, 75);
    border-color: rgba(255, 255, 255, 0.25);
}

.painel-resultado {
    min-height: 90px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fefeff;
    border: 1px #444;
    font-size: 1rem;
    word-break: break-word;
}


.btnsMobile {
   display: none; 
}

/* ---- mediaQ ------ */
@media (max-width: 1050px) {

    .carrossel {
        flex-direction: column;
        width: 90vw;
        height: 90vh;
        
    }
    .apis{
        width: 100%;
        height: 100%;
    }

    .fotoPersonagemdiv{
        height:60%;      
    
    }
    .fotoPersonagem{
        width: 20rem;
        height:20rem;      
    
    }
    
    .dadosPersonagem{
       height: 40%;;
    }

  
    .btn {
        display: none !important;
    }

    .btnsMobile {
        display: flex; 
        justify-content: space-around; 
        align-items: center;
        width: 100%;   
        height: 60px;      
        border-radius: 8px;
        padding: 0 10px;
    }

 
    .btnMbl {
        height: 100%;
        width: 200px;
        background-color: #000000a9;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); 
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fcfbfb;
        font-family: system-ui, -apple-system, sans-serif;
        font-size: 0.8rem;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 10;
    }

    .btnMbl:hover {
        background: rgb(75, 75, 75);
        border-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        transform: translateY(-2px); 
        }

    .btnMbl:active {
        transform: translateY(0); 
        background: rgba(255, 255, 255, 0.08);
        }

}